[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
faker = "*"
werkzeug = "*"
flask-bcrypt = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-restful = "*"
honcho = "*"
ipdb = "*"
flask = "*"
flask-mail = "*"
itsdangerous = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.8"
